<div class="form-container">
  <h1>Task Tracker</h1>
  <mat-form-field>
    <mat-label>Enter your memo</mat-label>
    <input
      #newInput
      matInput
      [(ngModel)]="newValue"
      placeholder="Enter something"
      (change)="changeNewValue(newInput.value)"
    />
    <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
  </mat-form-field>

  <div class="button-container">
    <button mat-raised-button color="primary" (click)="saveNewValue()">
      Submit
    </button>
    <button
      mat-raised-button
      color="warn"
      *ngIf="itemInterface.length > 1"
      (click)="deleteAll()"
    >
      Delete all
    </button>
  </div>

  <mat-card *ngFor="let item of itemInterface; let i = index">
    <mat-card-content>{{ item.value }}</mat-card-content>
    <mat-card-actions>
      <button mat-icon-button color="warn" (click)="removeItem(item.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <div>
    <hr *ngIf="itemInterface.length > 1" />
  </div>
  <p *ngIf="itemInterface.length < 1">No memo added</p>
</div>
